    <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>Quantidade</th>
                    <th>Preco</th>
                </tr>
                </thead>
            
                <tbody>
                    <%= render @banda %>
                </tbody>
    </table>