<% if flash[:notice] %>
    <div class="alert alert-sucess" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Quantidade</th>
                <th>Preco</th>
            </tr>
            </thead>
        
            <tbody>
           
                <%= render @todas_bandas %>

            </tbody>
            </table>
            
                <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>Quantidade</th>
                    <th>Preco</th>
                </tr>
                </thead>
            
                <tbody>
                  <%= render @todas_bandas_promocao %>
                </tbody>
                </table>
        </div>
    </body>
        
</html>